{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %} 
<title>About Us</title>
{% endblock head_extra %}


{% block content %}

<h2 style="margin-top:10%;text-align:center;">ABOUT US</h2>

<div class="col-md-12" style="display:flex;align-items:center;justify-content:center;">
<img style="height:350px;width:350px;" src="{% static 'izu_images/izu_about.jpeg'%}"/>
</div>
<p style="margin-bottom:15%!important;;margin:auto;width:60%;">G.N Ijezie and Sons trading Company, the parent company of iZSa Steel and pipes, has been in the business of building and construction materials since 1973. Customers' satisfaction, integrity, honesty and quality assurance are what clients have to look forward to when dealing with iZSa.

Our keen eyes on ensuring the high quality of construction materials we sell have stood us out in the building and construction materials business industry. It has been the little secret that has sustained us throughout these decades. 

Our friendly service team will ensure that all your enquiries are properly attended to efficiently and will always ensure that your order of quality stock arrives to you in due time.</p>


{% endblock content %}