   <footer class="section footer-section bg-primary">
      <div class="container">
        <div class="row bordertop pt-5">
		<div class="col-md-3 mb-5">
            <ul class="list-unstyled link">

              <li><a href="{% url 'building:about' %}">About</a></li>
              <li><a href="{% url 'building:contact' %}">Contact</a></li>
             
            </ul>
          </div>
		<div class="col-md-3 mb-5 pr-md-5 contact-info">

            <p><span class="d-block">Address:</span> <span>  Head office: No. 1 Premier Lock up Shops Bridge Head Market, Onitsha, Anambra State. Branch office: A5/6 Atani Road, Onitsha, Ogbaru.</span></p>
			
            <p><span class="d-block">Phone:</span> <span>234-806-6993-073</span></p>
            <p><span class="d-block">Email:</span> <span> izuu2012@gmail.com</span></p>
          </div>

		  <div class="col-md-6 mb-5">
          <p class="col-md-12 text-left">&copy; Copyright 2019. All Rights Reserved. Carefully crafted by <a href="https://colorlib.com/">Colorlib</a></p>
            
         <!-- <p class="col-md-12 text-left social">
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-instagram"></span></a>
          </p>-->
		  </div>
        </div>
      </div>
    </footer>